@import "styles/_settings.scss";

.container {
  width: 100%;
  color: $main_04;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding: 0.5rem 1rem;
}

.navigation {
  color: indianred;
}

.providerRow {
  display: flex;
}
