{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "linebreak-style": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "click-events-have-key-events": "off",
    "no-noninteractive-element-interactions": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "react/destructuring-assignment": "off",
    "no-console": "off",
    "no-unused-vars": "error",
    "react/no-unused-state": "error",
    "no-alert": "off",
    "prettier/prettier": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}
