@import "styles/_settings.scss";

.providerListCard {
  margin: 0.6rem 0.5rem;
  border: 1px solid $main_03;
  box-sizing: border-box;
  border-radius: 0.3rem;
  overflow: hidden;
  width: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 4px 3px $gallery;
}

.providerListCardContent {
  display: flex;
  flex-direction: column;
  color: $main_04;
  box-sizing: border-box;
  width: 100%;
}

.providerListCardHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem;
  background: $main_01;
}

.providerImageWrapper {
  display: flex;
  width: 100%;
  height: 230px;
}

.providerImage {
  width: 100%;
  border-radius: 0.5rem;
}

.providerListCardTitle {
  padding: 0.5rem;
  color: $primary;
  width: 100%;
}

.geoLocation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $main_04;
}

.providerContentSearchSlot {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 1.13rem;
}

.providerAddress {
  padding: 0.5rem;
  width: 100%;
}

.providerListCardMap {
  color: $main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.contentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $crimson;
}

.calendarTime {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.providerListCardDescriptionBottom {
  color: $main_04;
  background: linear-gradient(to bottom, $gallery, $white);
  text-align: center;
  padding: 0.5rem 0.5rem;
  width: 100%;

}

.website {
  text-decoration: none;
  color: $main;
  &:hover {
    color: $danger;
  }
}

.locationService {
  border: 1px solid $main_02;
  width: 100%;
  border-radius: 6px;
  background: rgba($main_02, 0.4);
}
