@import "styles/_settings.scss";

.content {
  color: $main;
}

.contentDescription {
  color: $main;
  position: relative;
}

.contentQuotes {
  color: $main;
  border: 10px solid $danger;
  box-shadow: 5px 5px 10px $mako;
  width: 350px;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 40px;
  padding: 10px;
  background: rgba($alto, 0.6);
}

.introDesc {
  color: $mako;
  margin: 1.5em 2em;
}
