@import "styles/_settings.scss";

.services {
  color: $main;
  max-width: $max-width;
  padding: 0 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1em;
}

.serviceCard {
  color: $main;
  width: 320px;
  border: 1px solid $grayNickel;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0.2em 0.3em 0.5em $grayNickel;
  margin: 0.5em;
}

.serviceCardHeader {
  color: $gallery;
  margin-bottom: 0.5em;
  
}

.serviceImage {
  color: $fruitSalad;
  margin-bottom: 0.5em;
}

.serviceTitle {
  color: $mako;
  padding: 0 0.5em;
  
}

.servingTime {
  color: $main;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.2em;
}

.serviceCardBody {
  color: $main;
  padding: 0 0.5em 1em;
}

.serviceChunked {
  display: flex;
  flex-direction: column;
}

.ratingService {
  color: $main;
  display: flex;
  justify-content: center;
  margin: auto auto 1em;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $gallery;
  padding-top: 0.5rem;
}

.ratingLabel {
  color: $fruitSalad;
}
