@import "styles/_settings.scss";

.header {
  color: $main;
}

.miniBanner {
  padding: 1em 3em;
  color: $malibu;
  width: 100%;
  background: $lavender;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $app-bar-height - 4rem;
}

.navLogin {
  color: $main;
  display: flex;
  justify-content: flex-end;
  width: 100%;

}

.contact {
  color: $gallery;
  display: flex;
  justify-content: flex-end;
}

.brandAndNav {
  color: $main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $app-bar-height * 2;
  padding: 0 2em;
  max-width: $max-width;
}

.brand {
  color: $main;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  color: $main;
  display: flex;
  justify-content: space-between;
  margin: 1em 2em 1em auto;
}

.navItem {
  margin: 1em;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  &:hover {
    cursor: pointer;
    border-bottom: 4px solid $lavender;
  }
}
