@import "styles/_settings.scss";

.content {
  color: $main;
}

.contentDescription {
  color: $main;
  position: relative;
}

.contentQuotes {
  color: $mako;
  border: 10px solid $white;
  box-shadow: 5px 5px 10px $grayNickel;
  width: 350px;
  height: 100%;
  position: absolute;
  top: 20px;
  right: 40px;
  padding: 10px;
  background: rgba($lavender, 0.4)
}

.introDesc {
  color: $info;
  margin: 1.5em 2em;
}
