@import "styles/_settings.scss";

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0.5rem 0;
  justify-content: space-evenly;
  box-sizing: border-box;
  overflow: hidden;
  height: 370px;
}

.image {
  height: $slide-image-height;
  width: $slide-image-height;
  border: $gallery;
  box-shadow: 1px 1px 2px 1px $grayNickel;
  border-radius: 0.4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
}

.content {
  margin: auto 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: $title;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: unset;
  color: $main_04;
}

.description {
  margin: auto;
}

.description:first-letter {
  text-transform: uppercase;
}

.item {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-right: 0.25rem;
  padding-right: 1rem;
}

.item:nth-child(odd) {
  border-right: 2px solid $gallery;
}

.orgIntro {
  text-indent: 1rem;
  margin: 1rem auto;
}

.orgContact {
  display: flex;
  align-items: center;
}
