@import "styles/_settings.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  height: $slide-card-height;
}

.image {
  width: 100%;
  height: $slide-image-height;
}

.content {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: $title;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: unset;
  color: $main;
}

.description {
  margin: 0.5rem 0;
  text-indent: 1rem;
}

.description:first-letter {
  text-transform: uppercase;
}

.orgName {
  display: flex;
  align-items: center;
  color: $fruitSalad;
  font-size: 1.1rem;
  cursor: pointer;
}
