@import "styles/_settings.scss";

.carousel {
  margin: 1rem auto;
  width: 100%;
}

.title {
  font-size: $heading;
  font-weight: 400;
  color: $gray;
  border-bottom: 2px solid $gallery;
  margin-bottom: 0.5rem;
}

.carouselTitle {
  margin: 0.5rem auto 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $alto;
}

.sliderWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Setting control slide */
.sliderControl {
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #ccc;
  overflow: hidden;
  max-width: $slide-wrapper-width;
  display: flex;
}

.advertisers {
  display: none;
}

@include breakpoint-up(sm) {
  .sliderControl {
    max-width: $app-mobile;
    margin: auto;
  }
}
