@import "styles/_settings.scss";

.bookingInstant {
  display: flex;
  flex-direction: column;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, $main, $white);
  height: $app-bar-height;
  padding: 0 1.25rem;
}

.bookingBox {
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 1rem;
}

.navBarInverse {
  background: transparent;
}

.logoImage {
  width: auto;
  height: 100%;
}

.goBack {
  color: $main;
  display: flex;
  width: 20rem;
  justify-content: flex-end;
  align-items: center;
}

.bookingStepsWrapper {
  display: flex;
  flex-direction: row;
}

.bookingStepsWrapperPage {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.stepper {
  display: flex;
  max-width: 710px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $main_03;
  margin: auto;
  padding: 0.1rem 0;
}

.stepsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.step {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto 1rem;
  width: 200px;
  padding: 0.3rem 0;
}

.stepNumber {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main_02;
  color: $gray;
  font-weight: bold;
  margin: auto 0.5rem;
}

.stepNumberActive {
  background: $main;
  color: $white;
  transition: color 0.5s ease-in;
}

.stepLabel {
  color: $main_03;
}

.stepLabelActive {
  color: $main;
  transition: color 0.5s ease-in;
}

@include breakpoint-up(sm) {
  .stepper {
    border-radius: 6px;
  }

  .stepsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .step {
    width: fit-content;
  }
}
