@import "styles/_settings.scss";

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, $main, $white);
  height: $app-bar-height;
  padding: 0 1.25rem;
}

.navBarInverse {
  background: transparent;
}

.logoImage {
  width: auto;
  height: 100%;
}

.goBack {
  color: $main;
  display: flex;
  width: 20rem;
  justify-content: flex-end;
  align-items: center;
}

.bookingStepsWrapper {
  display: flex;
  flex-direction: row;
}

.stepper {
  border: 1.5px solid $gallery;
  padding: 0.5rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 1rem;
}

.stepNumber {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main_02;
  color: $gray;
  font-weight: bold;
  margin: auto 0.5rem;
}

.stepNumberActive {
  background: $main;
  color: $white;
  transition: color 0.5s ease-in;
}

.stepLabel {
  color: $main_03;
}

.stepLabelActive {
  color: $main;
  transition: color 0.5s ease-in;
}

@media only screen and (max-width: $app-mobile) {
  .navBar {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
  }

  .bookingStepsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stepper {
    border: 1px solid $gallery;
    padding: 0.5rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    box-sizing: border-box;
    width: 100%;
  }

  .step {
    display: flex;
    justify-content: flex-start;
    margin: 0.2rem auto;
    width: 50%;
  }
}
