@import "styles/_settings.scss";

.container {
  width: 100%;
  height: calc(100vh - 66px);
  margin-top: $app-bar-height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  color: $main_04;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: $app-bar-height;
  background: linear-gradient(to left bottom, $main, $malibu);
  padding: 0 1rem;

}

.logo {
  width: $logo-copyright * 1.5;
}

.rightCta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

.title {
  padding: 2rem 0.5rem;
  border-bottom: 1px solid $main_02;
  color: $success;
  font-size: $title;
  font-weight: 400;
  text-align: center;
  width: 100%;
  background: $gallery;
}

.information {
  color: inherit;
}

.bookingCode {
  padding: 2rem 0.5rem;
  font-size: $title;
  font-weight: 400;
  text-align: center;
}

.bookingCode strong {
  font-size: $heading;
  color: $persimnon;
}

.confirmEvent {
  color: $success;
}

.cancelledEvent {
  color: $danger;
}

.cta {
  border-top: 1px solid $gallery;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
