@import "styles/_settings.scss";

.container {
  user-select: none;
  display: flex;
  flex-direction: column;
  margin: 0.2rem auto;
}

.dateChunk {
  max-height: 290px;
  position: relative;
}

.slotHolder {
  height: 11.5rem;
}

.row {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0.6rem 0 0.2rem;
}

.chunkSlots {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 0.2rem;
}

.date {
  padding-left: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  background: whitesmoke;
  color: $main;
  border-top: 1.5px solid $grayNickel;
}

.slot {
  width: 30%;
  border: 1px solid $main_02;
  padding: 0.8rem 0;
  margin: auto 0.5rem auto 0.2rem;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  background: $gallery;
  border-radius: 1.8rem;
}

.slot:hover {
  background: $main_04;
  font-weight: 500;
  border: 1px solid $main_04;
  color: $main_01;
}

.showMoreSlot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extraCta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $fruitSalad;
  opacity: 0.8;
}

.extraCta span {
  font-size: 1.2rem;
}
