@import "styles/_settings.scss";

.container {
  user-select: none;
  display: flex;
  flex-direction: column;
  margin: 0.2rem auto;
}

.dateChunk {
  height: 290px;
  position: relative;
}

.row {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0.6rem 0 0.2rem;
}

.chunkSlots {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 0.2rem;
}

.date {
  padding: 1rem 0;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  background: $main_03;
  color: $main_04;
}

.slot {
  width: 30%;
  border: 1px solid $main_03;
  padding: 0.8rem 0;
  margin: auto 0.5rem auto 0.2rem;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  background: $gallery;
  border-radius: 1.8rem;
}

.slot:hover {
  background: $main;
  font-weight: 500;
  color: $main_01;
}

.showMoreSlot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.extraCta {
  display: flex;
  justify-content: space-between;
}

.extraCta span {
  font-size: 1.2rem;
}
