@import "styles/_settings.scss";

.container {
  display: flex;
  flex-direction: column;
  margin: 0.2rem auto;
}

.row {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: 0.2rem 0 0.5rem;
}

.chunkSlots {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.date {
  padding: 1rem 0;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  background: $main_03;
  color: $main_04;
}

.slot {
  width: 30%;
  border: 1px solid $main_03;
  padding: 1.8rem 0;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  background: $gallery;
}

.slot:hover {
  background: $main_04;
  font-weight: 500;
  color: $main_01;
}

.showMoreSlot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.extraCta {
  display: flex;
  justify-content: space-between;
}

.extraCta span {
  font-size: 1.2rem;
}
