@import "styles/_settings.scss";



.wrapper {
  overflow-y: visible;
  user-select: none;
  position: relative;
}

.tabs {
  display: flex;
  justify-content: center;
  color: $main_01;
  min-width: 200px;
  width: 100%;
}

.tab {
  align-items: center;
  padding: 1rem 0.5rem 0.5rem;
  width: $max-tab-width;
  color: $mako;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $main_03;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  background: linear-gradient(to bottom, $main_01, $main_03);
  transition: all 0.2s ease-in;
}

.tabActive {
  background: $main_04;
  color: $main_01;
  border: unset;
}

.tab:hover {
  background: linear-gradient(to top, $main_01, $main_03);
}

.nextTab {
  color: $main_04;
}
