@import "styles/_settings.scss";

.viewEvent {
  width: 100%;
  overflow: auto;
  height: 100vh;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $app-bar-height;
  background: linear-gradient(to bottom, $main_04, $main_01);
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
