@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake-vertical {
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation-name: 'shaking-up-down';
  -moz-animation-name: 'shaking-up-down';
  -o-animation-name: 'shaking-up-down';
  animation-name: 'shaking-up-down';
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -o-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@keyframes shaking-up-down {
  2%, 18% {
    transform: translate3d(0, -5px, 0);
  }

  4%, 16% {
    transform: translate3d(0, 5px, 0);
  }

  6%, 10%, 14% {
    transform: translate3d(0, -5px, 0);
  }

  8%, 12% {
    transform: translate3d(0, 5px, 0);
  }

  18.1% {
    transform: translate3d(0px, 0, 0);
  }
}
