/* Theme colors */
$crimson: #be4233;
$goldTips: #edc11b;
$white: #FFFFFF;
$mako: #3D3F42; // 61, 63, 66
$we_peep: #FAEBEB;
$we_peep_rgba: rgba(250, 235, 235, 0.7);
$alto: #e0e0e0;
$mercury: #e3e3e3;
$tiara: #CDD5D8;
$primary: #3f51b5;
$secondary: #f50057;
$malibu: #57C9F9; // 87, 201, 249
$fruitSalad: #4CAF50;
$seaGreen: #2F843F;
$celadon: #A9E2AD;
$galliano: #E2C60D;
$gallery: #EBEAEA;
$grayNickel: #BBBCB9;
$persimnon: #FF5F57; // 255, 95, 87

$main: $primary;
$danger: #F44336;
$success: #4CAF50; // 76, 175, 80
$info: #00ACC1;
$gray: #999;
.main-color {
  color: $main !important;
}

.danger-color {
  color: $danger !important;
}

.gallery-color {
  color: $gallery !important;
}

.white-color {
  color: $white !important;
}

.fruit-color {
  color: $fruitSalad !important;
}

.info-color {
  color: $info !important;
}

.malibu-color {
  color: $malibu !important;
}

.crimson-color {
  color: $crimson !important;
}

.goldTips {
  color: $goldTips !important;
}

.gray-color {
  color: $gray !important;
}
