@import "color";

.hover-link {
  &:hover {
    text-shadow: 1px 1px 1px $grayNickel;
  }
}

.simple-button {
  &:hover {
    background: transparent;
    color: $main;
  }
}

.circle-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.button-sm {
  padding: 0;
}

.button-lg {
  margin: 1rem auto;
}

.button-xs {
  padding: 5px;
}

.button-pad-bot {
  margin: 0.5rem auto 1rem;
}

.main-button {
  background: transparent;
  color: $primary;
  transition: all 0.1s;
  &-active {
    background: linear-gradient($malibu, $primary);
    color: $we_peep;
    border: none;
  }
  &-disabled {
    background: $grayNickel;
    color: $we_peep;
  }
  &:hover {
    background: linear-gradient($malibu, $primary);
    color: $we_peep;
    border: 1px solid $we_peep_rgba;
  }
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.button-text-center {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 1rem;
}

.hover-bright {
  &:hover {
    text-shadow: 0 5px 10px $we_peep_rgba;
  }
}

.hover-main-color {
  &:hover {
    color: $main;
  }
}

.hover-outline {
  &:hover {
    border: 1px solid $main;
  }
}

.fit-button {
  width: fit-content;
}

.cta-buttons {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.tooltip-lg {
  font-size: 0.8rem;
}
