@import "color";

/* Layout */

.container {
  display: grid;
}

.grow {
  flex-grow: 1;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

.flex {
  display: flex;
}

.v-center {
  align-items: center;
}

.h-center {
  justify-content: center;
}

.auto-margin-vertical {
  margin: auto 0;
}

.item-center {
  align-items: center;
  justify-content: center;
}

/* Color Classes */
.ghost-white {
  color: ghostwhite;
}

.mako {
  color: $mako;
}

.we-peep {
  color: $we_peep;
}

/* Background */
.bg-mako {
  background: $mako;
}

.bg-mako:hover {
  transition: color 0.2s, background 0.2s;
  transition-timing-function: ease-in;
  background: $we_peep;
  color: $mako;
}

.bg-we-peep {
  background: $we_peep;
}

.bg-we-peep:hover {
  background: $mako;
  transition: color 0.2s, background 0.2s;
  transition-timing-function: ease-out;
  color: $we_peep;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-main {
  margin: 5px;
  color: $primary;
  &:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}
