@charset "utf-8";

/* Grid line is count from 1 NOT 0 */

.container {
  display: grid;
}

.grow {
  flex-grow: 1;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

.image-holder {
  max-width: 100%;
  max-height: 100%;
}
