@import "color";

/* Layout */

.container {
  display: grid;
}

.grow {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

.flex {
  display: flex;
}

.v-center {
  align-items: center;
}

.h-center {
  justify-content: center;
}

.h-end {
  justify-content: flex-end;
}

.h-space-e {
  justify-content: space-evenly;
}

.h-space-btw {
  justify-content: space-between;
}

.auto-margin-vertical {
  margin: auto 0;
}

.item-center {
  align-items: center;
  justify-content: center;
}

/* Color Classes */
.ghost-white {
  color: ghostwhite;
}

.mako {
  color: $mako;
}

.we-peep {
  color: $we_peep;
}

/* Background */
.bg-mako {
  background: $mako;
}

.bg-mako:hover {
  transition: color 0.2s, background 0.2s;
  transition-timing-function: ease-in;
  background: $we_peep;
  color: $mako;
}

.bg-we-peep {
  background: $we_peep;
}

.bg-we-peep:hover {
  background: $mako;
  transition: color 0.2s, background 0.2s;
  transition-timing-function: ease-out;
  color: $we_peep;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-main {
  margin: 5px;
  color: $primary;
  &:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

.verification-modal {
  max-width: 1rem * 24;
  min-width: 1rem * 23;
  display: flex;
  padding: (1rem * 1.5) 1rem;
  &-logo {
    margin: auto 1rem auto 0;
  }
  &-avatar {
    width: 1rem * 4;
    height: 1rem * 4;
  }
  &-content {
    padding-left: 1rem;
    border-left-width: 4px;
    border-left-style: solid;
    border-image:
      linear-gradient(
          to bottom,
          $primary,
          rgba(0, 0, 0, 0)
      ) 1 100%;
  }
}

.form-control-holder {
  margin-top: 0.3rem;
}

.main-color {
  color: $main;
}

.danger-color {
  color: $danger;
}

.success-color {
  color: $main;
}

.default-color {
  color: $gray !important;
}

.cover-bg-black {
  position: fixed;
  top: 0;
  background: rgba(0,0,0, 0.7);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
