@charset "utf-8";

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Helvetica, 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow: hidden;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

$max-tab-width: 160px;
$max-card-width: 320px;
$app-mobile: 25.875rem; // 414px
$app-bar-height: 4rem; // 64px
$logo-width: 12rem;
$logo-copyright: 100px;
$event-card-width: 350px;
$provider-image-height: 150px;
$full-address-height: 4.1rem;
/* Typo */
$title: 1.4rem;
$heading: 1.6rem;
$caption: 0.8rem;
/* MUI breakpoints */
$xs: 374px;
$ssm: 550px;
$sm: 415px;
$smx: 769px;
$mds: 820px;
$md: 960px;
$lmd: 1024px;
$lg: 1280px;
$xl: 1920px;

/* Resolution */
$min-width: $xs;
$max-width: 90rem;
$max-height: $max-width;

/* Dimension */
$global-radius: 3em;
$global-padding: 2em;
$global-margin: 2em;

/* Transition */
$global-transition-time: .5s;

@import
"mixins",
"color";

@import
"brand",
"cta",
"layout",
"animation",
"images",
"typography";
