@charset "utf-8";

$app-bar-height: 80px;

/* Resolution */
$min-width: 768px;
$max-width: 1440px;

/* MUI breakpoints */
$xs: 0;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

/* Dimension */
$global-radius: 3em;
$global-padding: 2em;
$global-margin: 2em;

/* Transition */
$global-transition-time: .5s;

@import
"mixins",
"color";

@import
"brand",
"cta",
"layout",
"animation",
"typography";
