@charset "utf-8";

.title {
  font-size: 3rem;
  font-weight: bold;
}

.header1 {
  font-size: 2rem;
}

.header2 {
  font-size: 1.8rem;
}

.header3 {
  font-size: 1.5rem;
}

.text-upper {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-bold {
  font-weight: bold;
}
