@import "styles/_settings.scss";

.category {
  margin-top: $global-margin;
  padding-bottom: $global-padding;
  border-bottom: 2px solid $gallery;
}

.headline {
  padding-left: 0.5rem;
}

.searchHeadline {
  color: $mako;
  margin: 0.5em;
  font-weight: bold;
}

.backdrop {
  margin: auto;
  overflow: auto;
  top: $app-bar-height;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($we_peep_rgba, 0.9);
  position: absolute;
  z-index: 1000;
  max-width: $max-width;
}

.categorizeHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $info;
}
