.select-services {
  &__options {
    margin-bottom: 16px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
  }
  &__cards-wrapper {
    position: relative;
    padding-top: 16px;
  }
  &__loading {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
