.simpleSearch {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.inputRoot {
  color: inherit;
}

.input {
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 8px 8px 8px 56px;
  width: 120px;
  &:focus {
    width: 200px;
  }
}

.icon {
  width: 56px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
