@import "styles/_settings.scss";

.calendar {
  border: 1px solid $grayNickel;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.calendarHeader {
  padding: 1em 2em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: $crimson;
  color: $gallery;
}

.monthYearSelection {
  display: flex;
  justify-content: space-between;
}

.headerToday {
  text-align: right;
  border-bottom: 1px solid $gallery;
  padding-bottom: 0.5rem;
}

.grid {
  display: flex;
  flex-direction: column;
}

.daysOfWeek {
  padding: 0.2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: $goldTips;
  color: $gallery;
  box-sizing: border-box;
}

.dayOfWeek {
  margin: 0;
  border: 1px solid $crimson;
  text-transform: capitalize;
}

.datesOfMonth {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $gallery;
}

.week {
  display: flex;
  justify-content: space-evenly;
}

.dateOfMonth {
  user-select: none;
  cursor: pointer;
  text-align: center;
  color: $crimson;
  width: 48px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.25s ease-in;
}

.today {
  background: #f4f3f3;
  border-radius: 15px;
  border: 1px solid $alto;
  font-weight: 400;
  color: $malibu !important;

  &:hover {
    border: 1px solid var(--c-text-lighter);
  }
}

.month {
  color: $crimson;
}

.invalidDate {
  color: $grayNickel;

  &:hover {
    border: 1px solid transparent;
  }
}

.buttonOk {
  user-select: none;
  background: $crimson;
  color: $gallery;
  border: none;
  border-radius: unset;
  height: 36px;
  font-weight: bold;
  transition: all 0.2s ease;
  &:hover {
    background: rgba($crimson, 0.8);
    //color: $crimson;
  }
}

.monthList {
  display: flex;
  flex-direction: column;
  background: #f4f3f3;
  overflow: auto;
  height: var(--calendar-date-container);
  min-width: var(--calendar-min-width);
  max-width: var(--calendar-max-width);
}

.monthRow {
  height: var(--calendar-month-row);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--c-ui-lighter);
}

.monthCell {
  user-select: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: var(--font-size);
  margin: auto;
  padding: calc(var(--b-space-md) * 1.24);
  color: var(--c-brand);
  text-align: center;
  border-right: 1px solid var(--c-ui-lighter);
  border-bottom: 1px solid var(--c-ui-lighter);
  transition: background 0.25s ease, color 0.3s ease-in;

  &:hover {
    cursor: pointer;
    background: var(--c-gray);
    color: var(--c-text-inverse);
  }
}

.invalidMonth {
  cursor: unset;
  color: var(--c-gray);

  &:hover {
    cursor: unset;
    background: unset;
    color: var(--c-gray);
  }
}

.yearList {
  list-style-type: none;
  background: #f4f3f3;
  overflow: auto;
  height: var(--calendar-date-container);
  min-width: var(--calendar-min-width);
  max-width: var(--calendar-max-width);
}

.yearRow {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: var(--calendar-max-width);
  max-width: var(--calendar-max-width);
  min-width: var(--calendar-min-width);
  height: var(--calendar-year-row);
}

.yearCell {
  padding: calc(var(--b-space-md) * 1.25) calc(var(--b-space-md) * 1.1);
  color: var(--c-brand);
  box-sizing: border-box;
  border: 1px solid var(--c-ui-lighter);
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    background: var(--c-gray);
    color: var(--c-text-inverse);
    border-bottom-right-radius: var(--b-space-sm);
    border-bottom-left-radius: var(--b-space-sm);
   }
}

.invalidYear {
  color: var(--c-gray);
  cursor: unset;

  &:hover {
    background: unset;
    color: var(--c-gray);
    cursor: unset;
    border-radius: unset;
  }
}

.currentMonthYear {
  cursor: pointer;
  background: var(--c-gray);
  color: var(--c-text-inverse);
}
