@import "styles/_settings.scss";

.datePicker {
  color: $crimson;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $logo-width;
}

.datePickerIcon {
  display: flex;
  border-bottom: 1px solid $main_03;
  align-items: center;
}

.calendarCabin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarTab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main_04;
  background: $main_01;
  height: 3rem;
  min-width: 3.5rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid $main_03;
  margin: 0.1rem;
}

.calendarFont {
  font-weight: 700;
  font-size: 1.2rem;
}

.calendarText {
  color: $main;
  text-align: center;
}

.normalDatePicker {
  padding-right: 0.2rem;
  &:hover {
    cursor: pointer;
  }
}
