@import "styles/_settings.scss";

.datePicker {
  color: $main;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.datePickerIcon {
  display: flex;
  border-bottom: 1px solid $main_03;
  align-items: center;
}

.calendarCabin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarTab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main_04;
  height: 3rem;
  min-width: 3.5rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid $main_03;
  margin: 0.1rem;
}

.calendarFont {
  font-weight: 700;
  font-size: 1.2rem;
}

.calendarText {
  color: $main;
  text-align: center;
}

.normalDatePicker {
  padding-right: 0.2rem;
  &:hover {
    cursor: pointer;
  }
}

.datePickerCalendar {
  position: relative;
}

.cancelDatePicker {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  border-radius: 0.2rem;
  background: rgba($white, 0.4);
  transition: all 0.3s ease-in;
  &:hover {
    box-shadow: 1px 1px 31px -1px $main_01;
    opacity: 0.7;
    transform: scale(1.2);
  }
}
