@import "styles/_settings.scss";

.serviceDetail {
  margin: 16px 0;
  height: 120px;
  @include breakpoint-up(sm) {
    height: 80px;
  }
  @include breakpoint-up(md) {
    height: 140px;
  }
  @include breakpoint-up(lg) {
    height: 100px;
  }
}

.blockItem {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  text-transform: capitalize;
}

.description {
}

.iconInfo {
  display: flex;
  align-items: center;
}

.icon {
  color: $primary;
  font-size: 22px;
  margin-right: 10px;
}

.linkedProviders {
  margin-top: 0.5rem;
  border-top: 1px solid $grayNickel;
  padding-top: 0.5rem;
}
