@import "styles/_settings.scss";

.appointmentCode {
  margin: 0.2rem auto 0.5rem;
  padding: 0.5rem 0;
  border-top: 2px solid rgba($grayNickel, 0.4);
  border-bottom: 2px solid rgba($grayNickel, 0.4);
}

.appointmentRemainedTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventStatus {
  color: $main_01;
  padding: 0.63rem;
  background: $main_02;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.eventFullAddress{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remainedDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointmentIcon {
  vertical-align: text-bottom;
  margin-right: 8px;
  color: $primary;
}

.appointmentItem {
  display: flex;
  align-items: center;
}

.cardContainer {
  color: $main_04;
  width: auto;
  & div[class*="vertical-timeline-element-content"] {
    width: $event-card-width;
  }
}

.remainedText {
  font-weight: bold;
  color: $white;
}

.bookingCode {
  font-weight: bolder;
}

.cardDetail {
  color: $main_04;
}

.eventStatusComplete {
  background: $main_04;
  border-radius: 0.3rem;
}

.eventStatusWaiting {
  background: $main;
  border-radius: 0.28rem;
}

.eventStatusCountDown {
  background: linear-gradient(to right, $persimnon, $white);
}

.ratingWrapper {
  color: $fruitSalad;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.7rem;
}

.ratingInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratingIcon {
  padding: 0;
}

.ratingIconFace {
  color: $fruitSalad;
  margin: 5px;
}

.rating {
  $text-color: rgb(210, 105, 30);
}

.ratingText {
  color: $fruitSalad;
  font-weight: bold;
  margin: 0.5rem;
}

.providerRating {
  display: flex;
}

.serviceTitleMap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $main;
}

.cancelEvent {
  color: $main_01;
  border-radius: unset;
  border: unset;
  &:hover {
    background: $main_02;
    color: $main;
  }
}

.cancelEventHidden {
  color: transparent !important;
  background: transparent !important;
  border: unset !important;
  &:hover {
    cursor: unset;
    background: transparent;
  }
}
