@import "styles/_color.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

.access-denied {
  position: relative;
  height: 100vh;
  background: $mercury;
  &__wrapper {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 617px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    >a {
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      font-weight: 700;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      padding: 13px 23px;
      background: $primary;
      font-size: 18px;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      border-radius: 30px;
    }
    >a:hover {
      color: $secondary;
      background: $primary;
    }
  }
  &__content {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
    >h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 236px;
      font-weight: 200;
      margin: 0px;
      color: #211b19;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    >h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
      color: $secondary;
      background: $mercury;
      padding: 10px 5px;
      margin: auto;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
    }
  }
}
.animation {
  position: absolute;
  top: 52%;
  left: 37%;
  transform: translate(-50%, -50%);
  height: 200px;
}
