@import "styles/_settings.scss";

.landingPage {
  margin: $app-bar-height auto !important;
  max-width: $max-width;
  min-width: $min-width;
  height: calc(100vh - 65px);
  overflow: auto;
  position: relative;
}
