@import "styles/_settings.scss";

.landingPage {
  margin: $app-bar-height auto 1rem !important;
  max-width: $max-width;
  height: calc(100vh - 65px);
  overflow: auto;
  position: relative;
  box-sizing: border-box;
}

.instantSearch {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: calc(100vh - 66px);
  top: $app-bar-height;
  background: $gallery;
  z-index: 2;
}
