@import "styles/_settings.scss";

.landingPage {
  margin: $app-bar-height auto 0!important;
  height: calc(100vh - 65px);
  overflow: auto;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instantSearch {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: calc(100vh - 66px);
  top: $app-bar-height;
  background: $gallery;
  z-index: 2;
  overflow: auto;
}

.closeInstantSearch {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
