@import "styles/_settings.scss";

ul {
  margin: unset;
  padding: unset;
}

.landing {
  min-width: 375px;
  overflow: auto;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
}

.category {
  color: $grayNickel;
}
