@import "styles/_settings.scss";

.wrapper {
  max-width: $max-width;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, $main, $main_03);
}
 .header {
   color: $main;
 }

 .headerLogo {
   width: 20rem;
   height: auto;
   box-shadow: 1px 2px 3px $main_03;
   padding: 1rem 3rem;
   border-radius: 0.5rem;
   margin-bottom: 3rem;
 }

 .content {
   color: $main;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }


 .fourOldFour {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0.5rem auto;
 }

 .numberFour {
   font-size: 5rem;
   box-shadow: 1px 2px 2px $main_04;
 }

 .numberFourInvert {
   transform: translate3d(1rem, 2.5rem, 0);
   box-shadow: 1px 2px 2px $main_04;
 }

 .numberZero {
   font-size: 3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
 }

 .slogan404 {
   display: flex;
   justify-content: center;
   color: $main_04;
 }

 .linkHome {
   border: 0.1rem solid $main_01;
   border-radius: 2rem;
   padding: 0.2rem 1.5rem;
   margin-top: 2rem;
   &:hover {
     cursor: pointer;
     box-shadow: 1px 1px 2px $main_02;
     background: $main_02;
   }
 }

