@import "styles/_settings.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 66px);
  overflow: auto;
  margin-top: $app-bar-height;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $app-bar-height;
  background: linear-gradient(to bottom, $main, $malibu);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1rem;
  z-index: $index_highest;
}

.searchBox {
  color: $main_04;
  position: relative;
  padding: 0.1rem 0.2rem 0.1rem 2rem;
  border-radius: 0.2rem;
  background: $white;
  display: flex;
  align-items: center;
}

.clearSearch {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.searchBox:hover {
  transition: all 0.3s ease-in;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
}

.brandName {
  display: none;
}

.brandNameMob {
  display: flex;
  width: 48px;
  height: 48px;
}

.orgList {
  display: flex;
  flex-direction: column;
}

.orgListHeading {
  font-size: $heading;
  color: $mako;
  width: 100%;
  margin: 1rem;
  padding: 0 1rem 0.5rem;
  border-bottom: 1px solid $gallery;
  text-transform: capitalize;
}

.orgBanner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.orgRow {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5rem;
  position: relative;
  width: $max-card-width;
  height: $max-card-width;
}

.item:hover {
  background: $we_peep;
  cursor: pointer;
  & .orgIntro {
    visibility: visible;
  }
}

.orgImage {
  width: $max-card-width;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orgInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.orgName {
  margin: 0.2rem 0.5rem;
  font-size: $subtitle;
  font-weight: 400;
  color: $main_04;
}

.orgPhone {
  color: $grayNickel;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.orgIntro {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: $index_highest;
  padding: 0.5rem;
  transition: all 0.1s ease-in;
}

.logo {
  width: 64px;
  height: 64px;
  border: 1px solid $gallery;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 2px 1px $gallery;
}
.orgDescription {
  margin: 0.5rem 0.2rem;
  text-indent: 1rem;
}

@include breakpoint-up(sm) {
  .header {
    padding: 0 1rem 0 1.8rem;
  }
  .brandName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
  }
  .brandNameMob {
    display: none;
  }
}
