@import "styles/_settings.scss";

.modalRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.wrapper {
  position: relative;
  max-width: 375px;
  min-width: 370px;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  opacity: 0.9;
}

.wrapperLogo {
  margin: auto 1.5rem auto 1rem;
}

.wrapperAvatar {
  width: 1rem * 4;
  height: 1rem * 4;
}

.content {
  padding-left: 1rem;
  border-left-width: 4px;
  border-left-style: solid;
  border-image:
    linear-gradient(
        to bottom,
        $primary,
        rgba(0, 0, 0, 0)
    ) 1 100%;
}

.titleMessage {
  margin-bottom: 0.5rem;
}

.modalActions {
  display: flex;
  justify-content: center;
  margin: 1rem auto auto;
}

.cancelButton {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  color: $danger;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: $main_01;
  &:hover {
    background: $danger;
    color: $main_01;
  }
}

.okButton {
  padding: 0.1rem 1.6rem;
}

@include breakpoint-up(sm) {
  .wrapper {
    max-width: 1rem * 25;
    min-width: 1rem * 23;
  }
}
