@import "styles/_settings.scss";

.content {
  display: flex;
  justify-content: space-between;
  margin-top: $app-bar-height;
}

.sidebar {
  margin: 1rem 0.5rem;
  border-radius: 5px;
  width: 350px;
  height: 100vh;
  color: $main_01;
  background: linear-gradient(to top, $main, $main_02);
}

.title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid rgba($main, 0.5);
  padding: 1em;
}

.cta {
  padding: 0;
}

.item {
  user-select: none;
  display: flex;
  justify-content: flex-start;
  padding: 1.2rem 1rem;
  color: $main_01;
  &:hover {
    cursor: pointer;
    background: rgba($main_03, 0.9);
    color: $main_04;
  }
}

.itemCount {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.selected {
  background: rgba($main_03, 0.3);
  color: $main_04;
}

.profilePage {
  height: 100vh;
  overflow: auto;
  width: 100%;
  margin-left: 1em;
}

.eventList {
  color: $main;
}

.customerInfo {
  color: $main;
}
