@import "styles/_settings.scss";

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: $app-bar-height;
  background: linear-gradient(to right, $malibu, $main);
}

.headerLogo {
  margin: auto 0.5rem;
}

.headerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $main_01;
}

.headerAvatar {
  width: $logo-copyright * 1.5;
  height: 100%;
  border-radius: unset;
}

.headerImage {
  width: 100%;
}

.headerSupport {
  display: flex;
  justify-content: space-evenly;
}

.headerItem {
  padding: 0 15px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
