@import "styles/_settings.scss";

.userForm {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.infoFrame {
  min-width: $max-card-width;
  border: 1px solid $main_02;
  border-radius: 0.5rem;
  background: $white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.title {
  color: $fruitSalad;
  font-size: $subtitle;
  font-weight: bold;
}

.formData {
  margin: 0.5rem auto 1rem;
}

.formControl {
  display: flex;
}

.personalCta {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto auto;
  color: $fruitSalad;
}
