@import "styles/_settings.scss";

.waitList {
  color: $main;
}

.waitSlotRow {
  color: $main;
  margin: 1rem 1rem 1rem 0;
}

.waitSlot {
  color: $main_04;
  border: 1px solid $main_03;
  width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 4px $main_04;
}

.serviceProviderInfo {
  color: $main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.queueOrder {
  color: $main;
}

.serviceName {
  color: $main_04;
}

.queueCta {
  color: $main_04;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 0;
  box-sizing: border-box;
  border-top: 2px solid $main_03;
}
