@import "styles/_settings.scss";

.waitList {
  max-height: calc(100% - 65px);
  overflow: auto;
  display: flex;
  color: $main_04;
}

.waitSlotRow {
  margin: 1rem 1rem 1rem 0;
  display: flex;
  flex-direction: column;
}

.waitSlot {
  margin: 0.2rem auto 0.7rem;
  border: 1px solid $main_03;
  width: $max-card-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 4px 1px $gallery;
}

.waitSlotCONFIRMED {
  color: $fruitSalad;
}

.waitSlotOPEN {
  color: $main_04;
}

.sName {
  color: $fruitSalad;
  font-size: $subtitle;
  font-weight: 500;
  margin: 0.5rem;
  padding: 0 0.5rem 0.5rem;
  border-bottom: 2px solid $fruitSalad;
}

.providerInfo {
  width: 100%;
  color: $main_04;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.agendaLabel {
  font-weight: 500;
  padding-top: 0.3rem;
  text-decoration: underline;
}

.waitSlotExpired {
  color: $grayNickel;
}

.bookedTime {
  border: 1px solid $main_03;
  margin: 1rem auto 0;
  border-radius: 0.4rem;
  color: $main_04;
  padding: 0 1rem;
}

.schedule {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
}

.queueOrder {
  color: $main;
}

.queueCta {
  color: $main_04;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 0;
  box-sizing: border-box;
  border-top: 2px solid $main_03;
}
