@import "styles/_color.scss";

.selectDate {
  border-right: 2px solid $we_peep;
  padding-right: 32px;
}

@media(max-width: 960px) {
  .selectDate {
    border-right: none;
    padding-right: 0;
  }
}
