@import "styles/_settings.scss";

.providerRightHeader {
  text-align: right;
  &__duration {
    margin-top: 8px;
  }
}

.providerDetail {
  margin-top: 16px;
}

.icon {
  color: $primary;
  font-size: 24px;
}
