@import "styles/_settings.scss";

.providerLeftHeader {
  flex-grow: 1;
  margin-right: 16px;
  &__description {
    color: $primary;
  }
}

.providerRightHeader {
  text-align: right;
  &__duration {
    margin-top: 8px;
  }
}

.providerDetail {
  margin-top: 16px;
}

.icon {
  color: $primary;
  font-size: 24px;
}
