@import "../../../../styles/settings";

.timeRow {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.timeSlot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 140px;
  box-sizing: border-box;
  transition: all 0.25s ease;
  user-select: none;
  border-radius: unset;
  border: 1px solid $main;
}
