@import "styles/_settings.scss";

.image {
  height: 195px;
  margin: 10px;
  border-radius: 5px;
}

.serviceCard {
  margin: 10px;
}

.serviceContent {
  padding-top: 0;
  padding-bottom: 1rem !important;
}

.serviceAction {
  margin: auto ($global-margin * 2);
  color: $primary;
  background: transparent;
  transition: all 400ms;
  &:hover {
    background: linear-gradient($malibu, $primary);
    color: $white;
  }
  @include breakpoint-up(lmd) {
    margin: auto $global-margin;
  }
  @include breakpoint-up(lg) {
    margin: auto ($global-margin * 2);
  }
}
