@import "styles/_settings.scss";

.image {
  height: 195px;
  margin: 10px;
  border-radius: 5px;
}

.serviceCard {
  margin: 10px;
}

.serviceContent {
  padding-top: 0;
}

.serviceAction {
  margin: auto ($global-margin * 2);
  color: $primary;
  background: transparent;
  transition: color 500ms;
  &:hover {
    background: linear-gradient($malibu, $primary);
    color: $white;
  }
}
