@import "styles/_color.scss";

.image {
  height: 300px;
}

.serviceCard {
  margin: 10px;
}

.serviceContent {
  padding: 20px 20px 0 20px
}

.footer {
  justify-content: center;
  border-top: 2px solid $we_peep;
}
