@import 'styles/_color.scss';

.service-card {
  &__image {
    height: 300px;
  }
  &__service-content {
    padding: 20px 20px 0 20px
  }

  &__footer {
    justify-content: center;
    border-top: 2px solid $we_peep;
  }
}
