@import 'styles/_color.scss';

.customLink {
  font-size: 1rem;
  color: $primary;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.small {
  font-size: 0.8rem;
}

.big {
  font-size: 1.2rem;
}
