@import
"styles/_color.scss",
"styles/_typography.scss",
"styles/_cta.scss",
"styles/_mixins.scss";

.organisation-page {
  &__header {
    background: url('../../images/dogcare_org_2.jpg') no-repeat;
    background-size: cover;
  }
  &__overlay {
    background: rgba($mako, 0.3);
    padding-bottom: 5em;
  }
  &__brand {
    margin: 3em 1em 3em 1em;
  }
  &__nav-bar-item {
    display: inline-flex;
    margin: auto 1.2em;
    text-transform: capitalize;
    box-sizing: content-box;
    &:hover {
      border-bottom: 2px solid $mako;
      transition: border-bottom-width 0.1s ease-out;
    }
  }
  &__content-block--no-background {
    margin: 3em auto;
  }
  &__content-block--secondary {
    background: rgba($mako, 0.6);
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 4em 0;
  }
  &__content-block--primary {
    background: rgba($we_peep, 0.5);
    display: flex;
    justify-content: center;
  }
  &__content-block--paragraph {
    margin: auto !important;
  }
  &__link {
    text-decoration: none;
    font-size: inherit;
    font-weight: 900;
    color: $mako;
  }
}

@include breakpoint(md) {
  .organisation-page {
    &__brand {
      margin: 3em 3em 1em 1em;
    }
    &__nav-bar-item {
      margin: auto 1em;
    }
    &__overlay {
      background: rgba($we_peep, 0.7);
    }
  }
}

