@import "styles/_color.scss";

.bookingAppointment {
  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.bookingHeadInfo {
  padding-bottom: 0.5em;
  border-bottom: 1px solid $gallery;
}

.bookingDetail {
  color: $main;
}

.serviceTitle {
  color: $main;
}

.bookingItems {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bookingCta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $gallery;
  margin: 1em auto;
  padding-top: 1em;
}

.clientInfo {
  color: $main;
}

.formTitle {
  color: $main;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $gallery;
}

.formFields {
  color: $info;
  padding: 0 2em 0;
  width: 480px;
}

.serviceItems {
  margin-top: 32px;
}

.viewMapButton {
  margin-left: 16px;
}
