@import "styles/_settings.scss";

/* Select Provider */

.selectProviderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-width: $smx;
}

.selectProviderHeader {
  margin: auto 0.5rem;
  padding: 0.5rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba($grayNickel, 0.5);
}

.providerRow {
  display: flex;
}

.selectProviderList {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  overflow: auto;
}

.selectDateOfBooking {
  height: 100%;
}
