@import "styles/_color.scss";
@import "../Services.module";

.selectTimeWrapper {
  padding: 16px;
}

.selectHour {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.selectDateContent {
  display: flex;
  justify-content: center;
  >div {
    width: 14rem;
  }
}
.selectHourContent {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .selectDateContent {
    text-align: center;
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: wrap-reverse;
  }
}

.availableSlotTitle {
  font-size: 33px;
  margin-bottom: 32px;
}

.timeZone {
  padding: 13px;
  opacity: 0.6;
  top: 5px;
  position: relative;
}

.available {
  justify-content: center;
  padding-top: 0.2rem;
  border-bottom: 1.5px solid green;
}

.unavailable {
  padding-top: 0.2rem;
  border-bottom: 1.5px solid red;
}

.selectDate {
  margin: 0 auto;
  padding-bottom: 2rem;
}

.activeItem {
  background: $primary;
  & * {
    color: white;
  }
}
