@import "styles/_color.scss";

.selectProvider {
  padding: 16px;
  display: flex;
  height: 100%;
}

.activeItem {
  background: $primary;
  & * {
    color: white;
  }
}

.providerDetail {
  margin-top: 16px;
}
