@import '../../../styles/color';

.select-time-wrapper {
  padding: 16px;
  .select-date {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 2rem;

    &_content {
      text-align: center;
    }
  }

  .select-hour {
    width: 90%;
    margin: 0 auto;
    text-align: center;

    &__content {
      padding-top: 1rem;

      &__available {
        padding-top: 0.2rem;
        border-bottom: 1.5px solid green;
      }

      &__unavailable {
        padding-top: 0.2rem;
        border-bottom: 1.5px solid red;
      }
    }
  }
}

.select-time__active-item {
  background: $primary;
  & * {
    color: white;
  }
}
