@import "styles/_color.scss";

.readMorePaper {
  width: 310px;
  max-height: unset;
}

.readMoreTitle {
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  color: $primary;
}

.blockItem {
  margin-top: 16px;
  flex-direction: column;
}

.iconInfo {
  display: flex;
  align-items: center;
}

.icon {
  color: $primary;
  font-size: 22px;
  margin-right: 10px;
}
