@import "styles/_settings.scss";

.bookingAppointment {
  margin: 1rem auto auto;
  display: flex;
  flex-direction: column;
  color: $main_04;
  padding: 0 0.5rem;
}

.bookingAppointmentPage {
  display: flex;
  flex-direction: column;
  color: $main_04;
  padding: 0 0.5rem 3rem;
  height: calc(100vh - 182px);
  overflow: auto;
}

.bookingDetail {
  width: 100%;
}

.bookingHeadInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 0 1rem;
  border-bottom: 1px solid $main_02;
}

.serviceItems {
  margin-top: 1.5rem;
}

.bookingItems {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.viewMap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $main_03;
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;
  margin: 0.5rem auto 0;
}

.bookingCta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $gallery;
  margin: 1em auto;
  padding-top: 1em;
}

.clientInfo {
  padding: 0.8rem;
}

.formTitle {
  padding-bottom: 0.5em;
  border-bottom: 1px solid $main_03;
  color: $main_04;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formFields {
  color: $info;
  padding: 0 2em 0;
  width: 400px;
}

.viewMapButton {
  margin-left: 16px;
}

.locationService {
  border: 1px solid $main_02;
  width: 100%;
  border-radius: 6px;
  background: rgba($main_03, 0.1);
  height: 70px;
  display: flex;
  align-items: center;
}

@include breakpoint-up(sm) {
  .bookingAppointmentPage {
    height: calc(100vh - 136px);
  }
}
