@import "styles/_settings.scss";

/* Select Provider */

.selectProviderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;
  max-width: $max-width;
  margin: 1rem auto;
}

.selectProviderHeader {
  margin: auto 0;
  padding: 0.5rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  //border-bottom: 2px solid rgba($grayNickel, 0.5);
  color: $main_04;
  position: relative;
}

.providerRow {
  display: flex;
  flex-direction: column;
}

.selectProviderPage {
  width: auto;
  display: flex;
  justify-content: center;
  height: calc(100vh - 7rem);
  overflow: auto;
}

.selectProviderList {
  height: 100%;
}

.selectDateOfBooking {
  height: 100%;
  position: absolute;
  left: 1.7rem
}

@media only screen and (max-width: $app-mobile) {
  .selectProviderPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media only screen and (max-width: 1443px) {
  .selectProviderPage {
    display: flex;
    justify-content: flex-start;
  }
}
