@import
"styles/_color.scss",
"styles/_typography.scss";

.organisation-page {
  &__header {
    position: relative;
    background: url('../../images/dogcare_org_2.jpg') no-repeat;
    background-size: cover;
    width: 100%;
  }
  &__overlay {
    //position: absolute;
    top: auto;
    left: 0;
    background: rgba($mako, 0.4);
    height: 100%;
  }
  &__logo {
    float: right;
  }
  &__name {
    padding-left: 1em;
  }
  &__brand {
    margin: 2em;
  }
}

