@import "styles/_settings.scss";

.container {
  width: 100%;
  color: $main_04;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.confirmInfo {
  display: flex;
  flex-direction: column;
}

.clientInfo {
  display: flex;
  flex-direction: column;
}

.headline {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid $grayNickel;
  text-transform: capitalize;
  color: indianred;
  background: $gallery;
}

.title {
  color: $main_04;
  font-size: $heading;
  font-weight: 500;
}

.waitList {
  width: $max-card-width;
}

.waitListTitle {
  color: $main_04;
  font-size: $title;
  font-weight: 500;
  padding: 0.8rem 0 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid $we_peep;
}

.clientGuideLine {
  font-size: $caption;
  color: $main_04;
}


.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}

@include breakpoint-up(smx) {
  .confirmInfo {
    flex-direction: row;
  }
  .clientInfo {
    margin-left: 2rem;
    padding-top: 0.5rem;
    border-left: 4px solid $grayNickel;
    padding-left: 1.8rem;
  }
}
