@import "styles/_settings.scss";

.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  width: $max-card-width;
}

.sName {
  font-size: $heading;
  font-weight: 600;
  color: $fruitSalad;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.2rem 0;
}

.pImage {
  width: $max-card-width;
  height: $provider-image-height;
  overflow: hidden;
  padding: 0.2rem 0;
}

.pName {
  font-size: $title;
  text-transform: capitalize;
  font-weight: 500;
  padding: 0.2rem 0;
}

.item {
  display: flex;
  align-items: center;
}

.place {
  height: $full-address-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid $main_03;
  background: $gallery;
  border-radius: 0.4rem;
}

.clientInfo {
  display: flex;
  flex-direction: column;
}
