@import "styles/_settings.scss";

.formFields {
  color: $main_04;
  width: 100%;
  padding: 0.5rem 0.5rem 0;
}

.recaptcha {
  color: $main_04;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0 auto;
}

@include breakpoint-up(sm) {
  .formFields {
    width: $app-mobile;
    margin: 0 auto;
  }
}
