@import "styles/_settings.scss";

.formFields {
  color: $main_04;
  width: $max-card-width;
}

.recaptcha {
  color: $main_04;
  width: $max-card-width;
  display: flex;
  justify-content: center;
  border: 1px solid red;
  margin-top: 0.5rem;
}
