@import "styles/_settings.scss";


.container {
  width: 100%;
  height: calc(100vh - 66px);
  margin-top: $app-bar-height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $app-bar-height;
  background: linear-gradient(to left bottom, $main, $malibu);
  padding: 0 1rem;
  position: fixed;
  top:0;
  right: 0;
  z-index: 1;
}

.logo {
  width: $logo-copyright * 1.5;
}

.rightCta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
}

.content {
  width: 100%;
  max-width: $max-width;
}
