@import "styles/_settings.scss";


.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: $main_04;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $app-bar-height;
  background: linear-gradient(to left bottom, $main, $malibu);
  padding: 0 1rem;
}

.logo {
  width: $logo-copyright * 1.5;
}

.rightCta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
}

.title {
  font-size: $heading;
  color: $success;
  font-weight: 500;
}

.navigation {
  color: $main_04;
}
