@import "styles/_settings.scss";

.providerPage {
  color: $fruitSalad;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.providerInfo {
  color: $main;  
}

.providerServices {
  color: $main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.providerCategory {
  color: $malibu;
}

.serviceDetail {
  color: $main;
}
