@import "styles/_settings.scss";

.providerPage {
  color: $fruitSalad;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.providerBody {
  margin: 0 auto;
  max-width: $max-width;
}

.providerInfo {
  color: $main;  
}

.providerServices {
  color: $main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.providerCategory {
  color: $mako;
  border-bottom: 2px solid $grayNickel;
  padding: 1em 0 0.5em 1em;
  width: 100%;
  margin-bottom: 1em;
}

.serviceDetail {
  color: $main;
}
