@import "styles/_settings.scss";

.providerPage {
  color: $fruitSalad;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.providerInfo {
  color: $main;  
}

.services {
  color: $main;
}

.serviceDetail {
  color: $main;
}
