@import "styles/_settings.scss";

.timeRow {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  border-top: 1px solid rgba($grayNickel, 0.3);
}

.timeSlot {
  margin: 0.5em 0 0.5em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 127px;
  box-sizing: border-box;
  transition: all 0.25s ease;
  user-select: none;
}

.validSlot {
  border: 2px solid $main;
  transition: all 0.1s ease-in;
  &:hover {
    color: $white;
    background: $main;
    border-radius: 6px;
    box-shadow: 2px 2px 3px $main;
    border-color: $gallery;
  }
}

.invalidSlot {
  display: none;
}

.kantBook {
  color: $danger;
  border-color: $danger;
  &:hover {
    color: $danger;
    background: unset;
    border-radius: unset;
    box-shadow: unset;
    border-color: unset;
  }
}
