@import "styles/_settings.scss";

.footer {
  padding: $global-padding 0 0.5em;
  width: 100%;
  background: $gallery;
  margin: $global-margin auto 0;
}

.info {
  display: flex;
  justify-content: center;
}

.infoDetail {
  display: flex;
  flex-direction: column;
  margin: 0 $global-margin;
}

.items {
  margin: 8px 0;
  text-transform: capitalize;
  cursor: pointer;
  transition: color 500ms;
  &:hover {
    color: $primary;
    text-shadow: 1px 1px $grayNickel;
  }
}

.copyright {
  margin: $global-margin auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyText {
  padding-top: 2px;
  padding-right: 5px;
}

.footerAvatar {
  border-radius: 0;
  width: $logo-copyright;
  height: unset;
}

.smallAvatar {
  height: 100%;
  width: 100%;
}

.iconSuite {
  display: flex;
}
